username.session.sql
.DS_Store
/backend/images
.vscode
/backend/.vscode
/backend/.DS_Store
/backend/cmd/.DS_Store
remind
remind2
receipt
ServerDB.session.sql
myapp
#package-lock.json
#git rm --cached <file>